.bpost {
     -webkit-box-shadow: 10px 10px 2px 2px #FF1F17;
    box-shadow: 10px 10px 2px 2px #FF1F17;
    -webkit-border-radius: 111px;
    border-radius: 111px;
    background-color: whitesmoke;
    margin: 2%;
}
.jumbotron {
    height: 50vh;
    width: 30vw;
    vertical-align: middle;
    margin-left: 5%;
    margin-top: 5%;
 
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
