.bpost {
    -webkit-box-shadow: 10px 10px 2px 2px #FF1F17;
    box-shadow: 10px 10px 2px 2px #FF1F17;
    -webkit-border-radius: 111px;
    border-radius: 111px;
    background-color: whitesmoke;
    padding: 20px;
}
