USE [master]
GO
/****** Object:  Database [ToonSaloon]    Script Date: 11/30/2016 10:15:34 PM ******/
CREATE DATABASE [ToonSaloon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToonSaloon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\ToonSaloon.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ToonSaloon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\ToonSaloon_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToonSaloon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToonSaloon]
GO
/****** Object:  Table [dbo].[BlogPost]    Script Date: 11/30/2016 10:15:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BlogPost](
	[Body] [varchar](max) NOT NULL,
	[AuthorName] [varchar](max) NOT NULL,
	[Category] [varchar](max) NOT NULL,
	[isApproved] [int] NOT NULL,
	[DateCreated] [date] NOT NULL,
	[Headline] [varchar](max) NOT NULL,
	[Subtitle] [varchar](max) NOT NULL,
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_BlogPost] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CartoonOfTheDay]    Script Date: 11/30/2016 10:15:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CartoonOfTheDay](
	[Author] [varchar](max) NOT NULL,
	[isApproved] [int] NOT NULL,
	[ShowName] [varchar](max) NOT NULL,
	[Season] [int] NOT NULL,
	[Episode] [int] NOT NULL,
	[DateCreated] [date] NOT NULL,
	[ImgUrl] [varchar](max) NOT NULL,
	[CotDId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CartoonOfTheDay] PRIMARY KEY CLUSTERED 
(
	[CotDId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/30/2016 10:15:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Eighties] [nvarchar](50) NULL,
	[Nineties] [nvarchar](50) NULL,
	[Twothousands] [nvarchar](50) NULL,
	[LateNight] [nvarchar](50) NULL,
	[Childrens] [nvarchar](50) NULL,
	[Strange] [nvarchar](50) NULL,
	[OldSchool] [nvarchar](50) NULL,
	[Anime] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Img]    Script Date: 11/30/2016 10:15:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Img](
	[Title] [varchar](max) NOT NULL,
	[Source] [varchar](max) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[ImgId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Img] PRIMARY KEY CLUSTERED 
(
	[ImgId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Img_BlogBridge]    Script Date: 11/30/2016 10:15:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Img_BlogBridge](
	[BlogId] [int] NOT NULL,
	[ImgId] [int] NOT NULL,
 CONSTRAINT [PK_Img_BlogBridge] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC,
	[ImgId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StaticPage]    Script Date: 11/30/2016 10:15:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StaticPage](
	[Name] [varchar](max) NOT NULL,
	[Body] [varchar](max) NOT NULL,
	[DateCreated] [date] NOT NULL,
	[isApproved] [int] NOT NULL,
	[Tag] [varchar](max) NOT NULL,
	[StaticId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_StaticPage] PRIMARY KEY CLUSTERED 
(
	[StaticId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 11/30/2016 10:15:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tag](
	[Name] [varchar](max) NOT NULL,
	[TagId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tag_BlogBridge]    Script Date: 11/30/2016 10:15:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag_BlogBridge](
	[BlogId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
 CONSTRAINT [PK_Tag_BlogBridge] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Youtube]    Script Date: 11/30/2016 10:15:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Youtube](
	[TubeId] [varchar](11) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[YoutubeId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Youtube] PRIMARY KEY CLUSTERED 
(
	[YoutubeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Youtube_BlogBridge]    Script Date: 11/30/2016 10:15:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Youtube_BlogBridge](
	[YoutubeId] [int] NOT NULL,
	[BlogId] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Youtube_BlogBridge] PRIMARY KEY CLUSTERED 
(
	[YoutubeId] ASC,
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
