<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ToonSaloon" connectionString="Server=.\SQL2014;Database=ToonSaloon;User Id=sa; 
         Password=sqlserver;"/>
  </connectionStrings>
  <appSettings>
    <add key="Mode" value="Prod"/>
  </appSettings>
</configuration>